@use "./helpers" as *;
@use "./base";

#app {
  width: 100%;
  overflow: hidden;
}

main {
  padding-top: rem(120);
  width: 100%;

  @include media("xl") {
    padding-top: 0;
  }
}

section {
  padding: rem(50) 0;

  &.pt-0 {
    padding-top: 0;
  }

  @include media("sm") {
    padding: rem(35) 0;
  }
}

// @include show(".train", true, false);
