@use "./helpers" as *;
@use "./base";

#app {
  width: 100%;
  overflow: hidden;
}

main {
  padding-top: rem(240);
  width: 100%;

  @include media("lg") {
    padding-top: 0;
  }
}

section {
  padding: rem(50) 0;

  &.pt-0 {
    padding-top: 0;
  }

  @include media("lg") {
    padding: rem(35) 0;
  }
  @include media("sm") {
    padding: rem(25) 0;
  }
}

// @include show(".rate", true, false);
