---
import App from "@/App.astro";
import * as Blocks from "blocks";
import { P } from "ui";
---

<App title="Покраска изделий из дерева">
  <main>
    <Blocks.Panel title="Покраска изделий из дерева">
      <div class="panel__pokraska">
        <P>
          Покраска изделий от <strong>WOODEN SPACE</strong> — это уникальный сервис,
          который позволяет воплотить любые дизайнерские задумки благодаря широчайшему
          выбору оттенков. Мы предлагаем более 310 цветов, а также возможность создания
          индивидуального оттенка по вашему запросу. <br />
          Каждое изделие проходит тщательный процесс покраски с использованием профессиональных
          технологий, которые обеспечивают идеально ровное покрытие и долговечность
          результата. Мы работаем только с экологичными и безопасными материалами,
          сохраняя натуральную текстуру и шарм древесины. <br />
          Наша команда гарантирует высокую точность цветопередачи, соответствие проекту
          и стойкость покрытия к внешним воздействиям.
          <br /><br />
          Покраска изделий от <strong>WOODEN SPACE</strong> — это не просто отделка,
          это финишный штрих, который придает вашим изделиям индивидуальность, изысканность
          и завершенность.
        </P>
      </div>
    </Blocks.Panel>
    <Blocks.WhyUs />
    <Blocks.Painting />
    <Blocks.Application />
  </main>
</App>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .panel__pokraska {
    width: 100%;

    .text-p {
      width: 100%;
      max-width: rem(665);
    }

    strong {
      color: var(--primary);
      font-weight: 400;
    }
  }
</style>
