---
import App from "@/App.astro";
import * as Blocks from "blocks";
import { colors, pricing, prices } from "@/store";
---

<App title="Кубообразный потолок">
  <main>
    <Blocks.Hero title="Кубообразный потолок" image="hero/8.png" />
    <Blocks.Slats image="slats/5.png" variant="secondary2" />
    <Blocks.Colors
      species={[
        { img: "species/1.png", name: "Термососна" },
        { img: "species/2.png", name: "Ясень" },
        { img: "species/3.png", name: "Термоясень" },
      ]}
      colors={colors}
      type="secondary"
    />
    <Blocks.Standart />
    <Blocks.Delivery />
    <Blocks.Clients />
    <Blocks.Projects />
    <Blocks.Application type="calculate" />
  </main>
</App>
