---
import App from "@/App.astro";
import * as Blocks from "blocks";
import { colors, pricing } from "@/store";
---

<App title="Декоративные рейки для стен">
  <main>
    <Blocks.Hero title="Декоративные рейки для стен" image="hero/3.png" />
    <Blocks.Sizes
      list={[
        { size: "20x20", width: 20, height: 20 },
        { size: "40x20", width: 40, height: 20 },
        { size: "50x20", width: 50, height: 20 },
        { size: "20x30", width: 20, height: 30 },
        { size: "30x40", width: 30, height: 40 },
        { size: "40x40", width: 40, height: 40 },
        { size: "40x60", width: 40, height: 60 },
      ]}
    />
    <Blocks.Slats image="slats/2.png" />
    <Blocks.Application type="calculate" />
    <Blocks.Colors
      species={[
        { img: "species/1.png", name: "Термососна" },
        { img: "species/2.png", name: "Ясень" },
        { img: "species/3.png", name: "Термоясень" },
        { img: "species/4.png", name: "Дуб" },
        { img: "species/5.png", name: "Экзотические виды древесины" },
        { img: "species/6.png", name: "Лиственница" },
      ]}
      colors={colors}
    />
    <Blocks.Prices prices={[pricing.list1]} />
    <Blocks.Installation image="installation/1.png">
      <p>
        Рейки на стену в большинстве случаев крепятся к стене через монтажную
        планку (если основание стены штукатурка, гипсокартон, обои). Это самый
        простой, быстрый и надежный способ скрытого крепления реек к стене. Все
        наши рейки по умолчанию поставляются со специальным пропилом для такого
        способа крепления. Промежутки между рейками остаются открытыми, поэтому
        основание стены предварительно окрашивается в нужный цвет.
        <br /><br />

        Если же основание стены из прочного бетона, то каждую рейку крепить к
        бетону весьма трудозатратно. В этом случае решением будет подложка из
        листового материала (фанера/МДФ окрашенный или шпонированный толщиной
        8-12 мм), а уже к подложке крепятся рейки через монтажную планку.
        <br /><br />

        Установкой реек в нашей компании занимаются профессионально
        подготовленные бригады, с полным набором необходимого инструмента для
        монтажа абсолютно любой сложности.
        <br /><br />

        Если Вы к нам обращаетесь не из Москвы, то Вам поможет наша инструкция
        по монтажу

        <br /><br />
        <strong>
          Доставку осуществляем по Москве, Московской области и по всей России.</strong
        >
      </p>
    </Blocks.Installation>
    <Blocks.Clients />
    <Blocks.Application />
    <Blocks.Projects />
    <Blocks.Video />
    <Blocks.Faq />
  </main>
</App>
