---
import App from "@/App.astro";
import * as Blocks from "blocks";
import { colors, pricing } from "@/store";
---

<App title="Декоративные рейки для потолков">
  <main>
    <Blocks.Hero title="Декоративные рейки для потолков" image="hero/4.png" />
    <Blocks.Sizes
      list={[
        { size: "20x20", width: 20, height: 20 },
        { size: "40x20", width: 40, height: 20 },
        { size: "50x20", width: 50, height: 20 },
        { size: "20x30", width: 20, height: 30 },
        { size: "30x40", width: 30, height: 40 },
        { size: "40x40", width: 40, height: 40 },
        { size: "40x60", width: 40, height: 60 },
      ]}
    />
    <Blocks.Colors
      species={[
        { img: "species/1.png", name: "Термососна" },
        { img: "species/2.png", name: "Ясень" },
        { img: "species/3.png", name: "Термоясень" },
        { img: "species/4.png", name: "Дуб" },
        { img: "species/5.png", name: "Экзотические виды древесины" },
        { img: "species/6.png", name: "Лиственница" },
      ]}
      colors={colors}
    />
    <Blocks.Slats image="slats/3.png" />
    <Blocks.Application type="calculate" />
    <Blocks.Prices prices={[pricing.list1]} />
    <Blocks.Installation image="installation/2.png">
      <p>
        Выбор правильного способа крепления реек для потолка – залог их
        долговечной службы и стабильности. В зависимости от типа основания и
        поставленных задач существует несколько способов крепежных систем для
        потолочный реек.
        <br /><br />
        1. Если в основании потолка гипсокартон, или к бетонному потолку установлена
        подложка из листового материала (МДФ, фанера), то самый простой и бюджетный
        способ крепления – на монтажную планку. Все наши рейки по умолчанию поставляются
        со специальным пропилом для такого способа крепления. Промежутки между рейками
        остаются открытыми, поэтому основание потолка предварительно окрашивается
        в нужный цвет. <br />
        2. Система SPACECLICK. Рейка из древесины крепится на пластиковую клипсу
        через специальный фигурный пропил. Пластиковая клипса защелкивается на несущий
        алюминиевый профиль-рельс. Вся эта конструкция опускается от чернового потолка
        на регулируемом подвесе на нужную отметку, чтобы скрыть все запотолочные
        коммуникации. При использовании реек глубиной 20 мм, открытый зазор между
        рейками составляет как правило 10-20 мм.
        <br /><br />

        Если потолок предполагает объемное решение с потолочный рейками в
        сечении 40*40 мм или 40*60 мм, то открытые промежутки составляют, как
        правило 30-50 мм. Их можно оставить открытыми, а можно применить
        промежуточную рейку из такой же породы древесины. Получится потолок
        закрытого типа.
        <br /><br />

        Эта система станет более бюджетным вариантом крепления реек на потолок,
        чем на любую подложку. Она актуальна для больших площадей облицовки
        потолков, т.к. очень проста в установке. Немаловажным преимуществом
        данной системы является возможность точечной замены рейки в процессе
        эксплуатации. Ее достаточно снять с направляющей шины и на место старой
        рейки установить такую же.
        <br /><br />

        Установкой реек в нашей компании занимаются профессионально
        подготовленные бригады, с полным набором необходимого инструмента для
        монтажа абсолютно любой сложности.
        <br /><br />

        Если Вы к нам обращаетесь не из Москвы, то Вам поможет наша инструкция
        по монтажу.
        <br /><br />

        <strong>
          Доставку осуществляем по Москве, Московской области и по всей России.</strong
        >
      </p>
    </Blocks.Installation>
    <Blocks.Clients />
    <Blocks.Application />
    <Blocks.Projects />
    <Blocks.Video />
    <Blocks.Faq />
  </main>
</App>
