---
import { Section, Header, P, Image, Icon, Button } from "ui";
import TheForm from "../TheForm.astro";
---

<!-- Application -->
<Section name="application">
  <TheForm />
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .application {
    position: relative;
  }
</style>
