---
import { Section, Title, Image, Icon, Button } from "ui";
---

<!-- Rate -->
<Section name="rate"> .rate </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .rate {
    position: relative;
  }
</style>
