---
import { Section, Header, P, Image, Icon, Button } from "ui";

interface Props {
  title: string;
  list: { img: string; title: string }[];
}

const { title, list } = Astro.props;
---

<!-- Services -->
<Section name="services">
  <Header title={title} />
  <div class="services__list">
    {
      list.map(({ img, title }) => (
        <div class="services__item">
          <div class="services__item-img">
            <Image src={img} />
          </div>
          <div class="services__item-content">
            <a href="#" class="services__item-link">
              <p>{title}</p>
              <svg
                width="134"
                height="8"
                viewBox="0 0 134 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M133.354 4.35355C133.549 4.15829 133.549 3.84171 133.354 3.64645L130.172 0.464466C129.976 0.269204 129.66 0.269204 129.464 0.464466C129.269 0.659728 129.269 0.976311 129.464 1.17157L132.293 4L129.464 6.82843C129.269 7.02369 129.269 7.34027 129.464 7.53553C129.66 7.7308 129.976 7.7308 130.172 7.53553L133.354 4.35355ZM0 4.5H133V3.5H0V4.5Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .services {
    position: relative;

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(50);

      @include media("sm") {
        gap: rem(30);
      }
    }

    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(20);

      @include media("lg") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media("sm") {
        grid-template-columns: 1fr;
        gap: rem(15);
      }
    }

    &__item {
      position: relative;
      width: 100%;
      border-radius: rem(26);
      overflow: hidden;

      &-img {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-content {
        position: absolute;
        top: rem(10);
        left: rem(10);
        padding: rem(10);
        width: calc(100% - rem(20));
        height: calc(100% - rem(20));
        border: rem(1) solid var(--primary);
        border-radius: rem(22);
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        a {
          padding: 0 rem(15);
          width: 100%;
          height: rem(45);
          color: #fff;
          background: var(--primary);
          border-radius: rem(16);
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: rem(10);

          &:hover {
            background: darken($color: #c29b5d, $amount: 2);
          }
        }

        svg {
          width: rem(120);

          @include media("xl") {
            width: rem(100);
          }
        }
      }
    }
  }
</style>
