---
import App from "@/App.astro";
import * as Blocks from "blocks";
import { H3, H4, P, Image, Button } from "ui";
---

<App title="Контакты">
  <main>
    <Blocks.Panel title="Контакты">
      <div class="panel__contacts">
        <iframe
          src="https://yandex.uz/map-widget/v1/?ll=37.630150%2C55.710743&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjY4MjU4MRJE0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCU0YPQsdC40L3QuNC90YHQutCw0Y8g0YPQu9C40YbQsCwgNzHRgTciCg16iBZCFSTYXkI%2C&z=17.19"
          width="560"
          height="400"
          allowfullscreen="true"></iframe>

        <div class="panel__contacts-list">
          <div class="panel__contacts-item">
            <H4>Офис</H4>
            <P>
              г. Москва, ул. Дубининская, д.71, стр.7. Будни: с 9:00 до 18:00 <br
              />
              Выходные: по договоренности
            </P>
          </div>
          <div class="panel__contacts-item">
            <H4>Производство</H4>
            <P>
              МО, г. Нахабино, ул. Володарского, д. 1 Будни: с 9:00 до 18:00
            </P>
          </div>
          <div class="panel__contacts-item">
            <a href="tel:84994099878" class="panel__contacts-phone"
              >8 (499) 409-98-78</a
            >
            <Button variant="secondary" data-modal="callback"
              >Обратный звонок</Button
            >
          </div>
          <div class="panel__contacts-item">
            <a href="mailto:sale@wooden-space.ru" class="panel__contacts-email"
              >sale@wooden-space.ru</a
            >
            <div class="panel__contacts-socials">
              <a href="#" title="Whatsapp">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.2355 2.76885C17.1151 3.64431 17.8125 4.68696 18.2871 5.83605C18.7617 6.98513 19.0041 8.21766 18.9999 9.46181C18.9999 14.6749 14.7725 18.9236 9.58547 18.9236C7.92298 18.9236 6.30798 18.4844 4.88299 17.6633L0 19L1.311 13.9874C0.560497 12.603 0.161499 11.0467 0.161499 9.46181C0.161499 4.24874 4.38899 -1.74235e-07 9.57597 -1.1238e-07C12.0935 -8.23596e-08 14.459 0.983419 16.2355 2.76885ZM1.7575 9.46181C1.7575 10.8749 2.13749 12.2593 2.84999 13.4719L3.02099 13.7583L2.24199 16.7372L5.12998 15.9447L5.42448 16.1357C6.67178 16.9209 8.11367 17.3378 9.58547 17.3387C13.8985 17.3387 17.4135 13.806 17.4135 9.47136C17.4135 7.37086 16.5965 5.39447 15.1145 3.91457C14.3888 3.18167 13.5255 2.60088 12.5748 2.20589C11.6241 1.81089 10.6047 1.60956 9.57597 1.61357C5.26298 1.59447 1.7575 5.12714 1.7575 9.46181ZM7.60948 5.14623C7.72348 5.38493 8.29348 6.54975 8.37898 6.7598C8.45498 6.9794 8.49298 7.13216 8.26498 7.29447C8.02748 7.45679 7.49548 7.90553 7.34348 8.0392C7.18198 8.17287 7.16298 8.31608 7.28648 8.55478C7.40048 8.79347 7.65698 9.55729 8.45498 10.4548C9.08197 11.1613 9.85147 11.6291 10.089 11.7724C10.3265 11.906 10.45 11.7915 10.5735 11.6673C10.678 11.5623 10.849 11.4286 10.982 11.3141C11.115 11.1995 11.2195 11.1518 11.3715 11.0754C11.533 10.999 11.666 11.0372 11.78 11.0945C11.894 11.1518 13.053 11.6291 13.528 11.8201C13.984 12.0111 13.927 12.2116 13.9365 12.3548L13.9365 12.8131C13.9365 12.9754 13.8795 13.2236 13.642 13.4432C13.4045 13.6533 12.8345 14.2643 11.6755 14.2643C10.5165 14.2643 9.39547 13.4146 9.24347 13.3C9.08197 13.1854 6.70698 11.6291 5.69048 9.26131C5.44348 8.69799 5.30098 8.2588 5.19648 7.91508C5.01598 7.35176 5.04449 6.83618 5.10149 6.42563C5.16799 5.96734 5.67148 5.02211 6.22248 4.83116C6.77348 4.63066 7.23898 4.63065 7.34348 4.69749C7.44798 4.76432 7.49548 4.90754 7.60948 5.14623Z"
                    fill="currentColor"></path>
                </svg>
              </a>
              <a href="#" title="Telegram">
                <svg
                  width="19"
                  height="17"
                  viewBox="0 0 19 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.09184 10.058C4.13223 10.0704 4.17342 10.0801 4.21513 10.087C4.47937 10.7096 4.74213 11.3329 5.0034 11.9568C5.47319 13.0794 5.94672 14.2357 6.05039 14.5682C6.18022 14.9773 6.31658 15.2556 6.46601 15.4461C6.54353 15.5433 6.63226 15.6292 6.73687 15.6946C6.79179 15.7279 6.85001 15.7554 6.91059 15.7768C7.20946 15.8888 7.48218 15.8421 7.6531 15.7852C7.75345 15.7511 7.84891 15.704 7.93703 15.6451L7.9417 15.6432L10.5811 13.9975L13.6306 16.3344C13.6754 16.3686 13.724 16.3976 13.7763 16.4212C14.1424 16.58 14.4973 16.636 14.8317 16.5912C15.1642 16.5445 15.4285 16.4053 15.6255 16.2475C15.8516 16.0649 16.032 15.8321 16.1523 15.5676L16.1607 15.547L16.1635 15.5395L16.1654 15.5358V15.5339L16.1663 15.533C16.1816 15.4925 16.1941 15.451 16.2037 15.4088L18.9869 1.37576C18.9946 1.33069 18.999 1.28511 19 1.2394C19 0.828447 18.845 0.437111 18.4816 0.200814C18.1697 -0.00185896 17.8232 -0.0111988 17.6037 0.00561275C17.3683 0.0242923 17.1498 0.0821989 17.0032 0.128898C16.9212 0.155356 16.8402 0.184638 16.7603 0.216692L16.75 0.221362L1.13954 6.34452L1.13767 6.34546C1.08473 6.36458 1.03269 6.38608 0.981693 6.4099C0.857859 6.46546 0.739106 6.53171 0.626781 6.6079C0.414768 6.75267 -0.0737022 7.15054 0.00942189 7.80806C0.0748004 8.33109 0.433448 8.65331 0.652933 8.80836C0.772482 8.89335 0.886427 8.95405 0.970486 8.99422C1.00784 9.0129 1.08817 9.04465 1.12272 9.0596L1.13206 9.0624L4.09184 10.058ZM17.2964 1.51025H17.2946L17.2703 1.52053L1.64108 7.65209L1.6168 7.66143L1.60746 7.66423C1.57884 7.6753 1.55079 7.68776 1.5234 7.70159C1.54952 7.71626 1.57632 7.72966 1.60372 7.74175L4.53828 8.7299C4.5901 8.74909 4.6401 8.77285 4.68772 8.80088L14.3796 3.12697L14.3889 3.1223C14.4268 3.09977 14.4654 3.07859 14.5048 3.05879C14.572 3.02423 14.6794 2.97379 14.8008 2.93644C14.8849 2.91028 15.1343 2.8365 15.4033 2.92336C15.5461 2.96794 15.6735 3.05201 15.7707 3.16587C15.8679 3.27973 15.9309 3.41874 15.9524 3.56687C15.9872 3.69646 15.9882 3.83281 15.9552 3.96288C15.8899 4.21972 15.7105 4.41959 15.5471 4.57277C15.407 4.70352 13.5895 6.45566 11.7972 8.18539L9.35668 10.539L8.92238 10.9593L14.4067 15.1641C14.4808 15.195 14.5611 15.2078 14.6411 15.2014C14.6814 15.1959 14.7193 15.1791 14.7504 15.1529C14.7882 15.1208 14.8207 15.083 14.8466 15.0408L14.8485 15.0399L17.5477 1.429C17.4628 1.4499 17.3794 1.47674 17.2983 1.50932L17.2964 1.51025ZM9.39403 13.086L8.29941 12.2473L8.03416 13.9331L9.39403 13.086ZM7.29539 10.5829L8.38347 9.53219L10.824 7.1767L11.7327 6.30062L5.64318 9.86562L5.67587 9.9422C6.05993 10.8495 6.43975 11.7586 6.81532 12.6694L7.07964 10.9883C7.10377 10.8324 7.17978 10.6902 7.29539 10.5829Z"
                    fill="currentColor"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </Blocks.Panel>
  </main>
</App>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .panel__contacts {
    position: relative;
    width: 100%;
    border-radius: rem(26);
    overflow: hidden;

    @include media("lg") {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: rem(30);

      &::before {
        display: none;
      }
    }
    @include media("sm") {
      gap: rem(20);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #c29b5d, $alpha: 0.5);
      pointer-events: none;
    }

    iframe {
      width: 100%;
      height: rem(630);
      border: none;
      border-radius: inherit;
      outline: none;

      @include media("lg") {
        height: rem(400);
      }
      @include media("xs") {
        height: rem(320);
      }
    }

    &-list {
      position: absolute;
      top: rem(50);
      left: rem(50);
      z-index: 2;
      padding: rem(40);
      width: 100%;
      max-width: rem(700);
      backdrop-filter: blur(rem(24));
      background: rgba(255, 255, 255, 0.75);
      border-radius: inherit;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30) rem(34);

      @include media("lg") {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
      }
      @include media("md") {
        grid-template-columns: 1fr;
        gap: rem(25);
      }
      @include media("sm") {
        padding: rem(20);
        gap: rem(20);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);

      .btn {
        margin-top: rem(12);
        height: rem(40);
        width: 100%;

        @include media("md") {
          margin-top: rem(5);
        }
      }
    }

    &-phone {
      font-size: rem(36);

      @include media("md") {
        font-size: rem(32);
      }
      @include media("sm") {
        font-size: rem(28);
      }
    }

    &-email {
      margin-top: rem(6);
      font-size: rem(24);

      @include media("md") {
        margin-top: 0;
      }
      @include media("sm") {
        font-size: rem(20);
      }
    }

    &-socials {
      margin-top: rem(24);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(16);

      @include media("md") {
        margin-top: 0;
      }

      a {
        height: rem(35);
        width: rem(35);
        border-radius: 50%;
        border: rem(1) solid var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: #fff;
          background: var(--text-color);
        }
      }

      svg {
        width: rem(19);
        height: rem(19);
      }
    }
  }
</style>
