---
import App from "@/App.astro";
import {
  Hero,
  Products,
  WhyUs,
  Rate,
  Projects,
  Team,
  Application,
} from "blocks";
---

<App title="Главная">
  <main>
    <Hero isMain />
    <Products />
    <WhyUs />
    <Rate />
    <Projects />
    <Team />
    <Application />
  </main>
</App>
