---
import App from "@/App.astro";
import * as Blocks from "blocks";
---

<App title="Главная">
  <main>
    <Blocks.Hero isMain />
    <Blocks.Products />
    <Blocks.WhyUs />
    <Blocks.Rate />
    <Blocks.Projects />
    <Blocks.Team />
    <Blocks.Application />
    <Blocks.Acquaintance />
    <Blocks.Clients />
    <Blocks.Production />
    <Blocks.Faq />
  </main>
</App>
