---
import App from "@/App.astro";
import { Section, Image, Icon, H1, H2, H3, H4, Title } from "ui";
import { Hero, Products, WhyUs, Rate, Projects, Team } from "blocks";
---

<App title="Главная">
  <main>
    <Hero isMain />
    <Products />
    <WhyUs />
    <Rate />
    <Projects />
    <Team />
  </main>
</App>
