---
import App from "@/App.astro";
import * as Blocks from "blocks";
import { P } from "ui";
---

<App title="Наши работы">
  <main>
    <Blocks.Projects isMain />
    <Blocks.Application />
  </main>
</App>
