@use "scss/helpers" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: rem(38) 0;
  width: 100%;
  transition: var(--transition-ease);
  z-index: 10;

  &.sticky {
    background: var(--background);

    &.down {
      padding-bottom: rem(20);
      transform: translateY(rem(-120));
    }
  }

  @include media("lg") {
    position: relative;
    padding: rem(25) 0;
    height: auto;
    max-width: 100%;
    background: transparent !important;
  }
  @include media("md") {
    padding: rem(20) 0;
  }

  .container {
    position: relative;
    transition: var(--transition-ease);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(36);
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    &-logo {
      position: relative;
      width: rem(200);
      height: rem(70);

      @include media("lg") {
        height: rem(55);
        width: auto;
      }
      @include media("md") {
        height: rem(50);
      }
      @include media("xs") {
        margin: 0 auto;
        height: rem(52);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .btn {
      margin-left: auto;
      margin-right: rem(8);
      padding: 0 rem(22);
      height: rem(40);
      font-weight: 400;

      @include media("md") {
        display: none;
      }
    }

    &-socials {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(16);

      @include media("md") {
        margin-left: auto;
      }
      @include media("xs") {
        display: none;
      }

      a {
        height: rem(35);
        width: rem(35);
        border-radius: 50%;
        border: rem(1) solid var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: #fff;
          background: var(--text-color);
        }
      }

      svg {
        width: rem(19);
        height: rem(19);
      }
    }

    &-contact {
      font-size: rem(22);

      &:hover {
        color: var(--primary);
      }

      @include media("lg") {
        font-size: rem(20);
      }
      @include media("xs") {
        display: none;
      }
    }
  }

  &__menu {
    padding: rem(5);
    width: 100%;
    border: rem(1) solid var(--text-color);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media("lg") {
      display: none;
    }

    .btn-catalog {
      width: rem(160);
      height: rem(48);
      color: #fff;
      background: var(--primary);
      border-radius: 9999px;
      gap: rem(10);

      &:hover {
        opacity: 0.9;
      }

      svg {
        min-width: rem(16);
        width: rem(16);
        height: rem(11);
        transition: var(--transition-ease);
      }

      &.active {
        svg {
          transform: rotate(90deg);
        }
      }
    }

    .menu {
      padding: 0 rem(40);
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(20);

      @include media("xl") {
        padding: 0 rem(24);
        gap: rem(15);
      }

      &-item {
        position: relative;

        & > a {
          text-transform: uppercase;
        }

        &.active a,
        &:hover a {
          color: var(--primary);
        }
      }

      .sub-menu {
        position: absolute;
        top: calc(100% + rem(30));
        left: 50%;
        z-index: 2;
        transform: translate(-50%, 20px);
        opacity: 0;
        transition: var(--transition-ease);
        padding: rem(20) rem(35);
        min-width: fit-content;
        color: #fff;
        background-color: var(--primary);
        border-radius: rem(22);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(16);

        &::before {
          content: "";
          position: absolute;
          top: rem(-30);
          left: 0;
          width: 100%;
          height: rem(30);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("/assets/img/wood-bg.svg");
          background-position: right;
          background-size: 200% auto;
          border-radius: rem(22);
          opacity: 0.5;
          pointer-events: none;
        }

        &[data-state="active"] {
          transform: translate(-50%, 0);
          opacity: 1;
        }

        a {
          color: #fff;
          font-weight: 300;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
    }
  }

  &__catalog {
    position: absolute;
    top: calc(100% + rem(25));
    transform: translateY(10%);
    transform-origin: top;
    padding: rem(45);
    min-height: rem(475);
    width: calc(100% - var(--content-padding) * 2);
    color: #fff;
    background-color: var(--primary);
    border-radius: rem(22);
    transition: var(--transition-ease);
    overflow: hidden;
    opacity: 0;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(40) rem(20);

    @include media("lg") {
      display: none !important;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      background: url("/assets/img/wood-bg.svg") center/cover no-repeat;
      opacity: 0.3;
    }

    &.show {
      transform: translateY(0);
      opacity: 1;
    }

    &-section {
      position: relative;
      flex: 1 0 rem(280);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(14);

      @include media("xl") {
        flex-basis: auto;

        .text-h4 {
          font-size: rem(18);
        }
      }
      @include media("lg") {
        .text-h4 {
          font-size: rem(20);
        }
      }

      .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(10);

        & > .menu-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(10);

          & > a {
            position: relative;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include media("lg") {
              font-size: rem(16) !important;
            }

            &::before {
              content: "";
              margin-right: rem(8);
              display: inline-block;
              min-width: rem(14);
              width: rem(14);
              height: rem(14);
              background: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.556096 9.71835C0.189164 8.85905 0 7.93436 0 7C0 6.06564 0.189164 5.14095 0.556096 4.28165C1.25719 2.59651 2.59651 1.25719 4.28165 0.556098C5.14095 0.189166 6.06564 0 7 0C7.93436 0 8.85905 0.189166 9.71835 0.556098C11.4035 1.25719 12.7428 2.59651 13.4439 4.28165C13.8108 5.14095 14 6.06564 14 7C14 7.93436 13.8108 8.85905 13.4439 9.71835C12.7433 11.4038 11.4038 12.7433 9.71835 13.4439C8.85905 13.8108 7.93436 14 7 14C6.06564 14 5.14095 13.8108 4.28165 13.4439C2.59616 12.7433 1.25667 11.4038 0.556096 9.71835ZM1.06926 4.49997C0.733076 5.29075 0.559805 6.1412 0.559805 7.00047C0.559805 7.85974 0.733076 8.71018 1.06926 9.50096C1.38704 10.2704 1.8537 10.9695 2.44245 11.5581C3.0312 12.1467 3.73042 12.6132 4.49997 12.9307C5.29075 13.2669 6.14119 13.4402 7.00046 13.4402C7.85974 13.4402 8.71018 13.2669 9.50096 12.9307C10.2703 12.6129 10.9692 12.1464 11.5578 11.5578C12.1464 10.9692 12.6129 10.2703 12.9307 9.50096C13.2669 8.71018 13.4402 7.85974 13.4402 7.00047C13.4402 6.1412 13.2669 5.29075 12.9307 4.49997C12.6129 3.73068 12.1464 3.0317 11.5578 2.44313C10.9692 1.85457 10.2703 1.388 9.50096 1.07019C8.71018 0.73401 7.85974 0.560739 7.00046 0.560739C6.14119 0.560739 5.29075 0.73401 4.49997 1.07019C3.73042 1.38776 3.0312 1.85424 2.44245 2.44283C1.8537 3.03141 1.38704 3.73051 1.06926 4.49997ZM1.90898 9.94788C1.39188 9.05149 1.11967 8.03485 1.11967 7C1.11967 5.96516 1.39188 4.94852 1.90898 4.05212C2.42317 3.16057 3.16337 2.42037 4.05492 1.90618C4.95131 1.38908 5.96795 1.11687 7.0028 1.11687C8.03765 1.11687 9.05429 1.38908 9.95068 1.90618C10.8422 2.42037 11.5824 3.16057 12.0966 4.05212C12.6144 4.9483 12.8869 5.96502 12.8869 7C12.8869 8.03498 12.6144 9.0517 12.0966 9.94788C11.5823 10.8393 10.8421 11.5795 9.95068 12.0938C9.05429 12.6109 8.03765 12.8831 7.0028 12.8831C5.96795 12.8831 4.95131 12.6109 4.05492 12.0938C3.16379 11.5794 2.42395 10.8392 1.90991 9.94788H1.90898ZM2.09558 4.93103C1.81851 5.58562 1.67575 6.28919 1.67575 7C1.67575 7.71081 1.81851 8.41438 2.09558 9.06897C2.35675 9.70459 2.74143 10.2821 3.22735 10.768C3.71326 11.2539 4.29075 11.6386 4.92636 11.8998C5.58079 12.1774 6.28443 12.3206 6.99533 12.3206C7.70624 12.3206 8.40988 12.1774 9.06431 11.8998C9.69993 11.6386 10.2774 11.2539 10.7633 10.768C11.2492 10.2821 11.6339 9.70459 11.8951 9.06897C12.1722 8.41438 12.3149 7.71081 12.3149 7C12.3149 6.28919 12.1722 5.58562 11.8951 4.93103C11.6339 4.29541 11.2492 3.71792 10.7633 3.23201C10.2774 2.7461 9.69993 2.36142 9.06431 2.10025C8.40972 1.82318 7.70615 1.68041 6.99533 1.68041C6.28452 1.68041 5.58095 1.82318 4.92636 2.10025C4.29075 2.36142 3.71326 2.7461 3.22735 3.23201C2.74143 3.71792 2.35675 4.29541 2.09558 4.93103ZM2.87372 9.38807C2.34962 8.47956 2.13985 7.42353 2.27693 6.38368C2.41402 5.34384 2.8903 4.37825 3.63194 3.63661C4.37358 2.89496 5.33917 2.41868 6.37902 2.2816C7.41886 2.14452 8.47489 2.35428 9.3834 2.87838C10.1059 3.297 10.7057 3.89817 11.1226 4.62164C11.5396 5.3451 11.7591 6.16545 11.7591 7.00047C11.7591 7.83548 11.5396 8.65583 11.1226 9.3793C10.7057 10.1028 10.1059 10.7039 9.3834 11.1226C8.65678 11.5401 7.83338 11.7598 6.99533 11.7598C6.15729 11.7598 5.33389 11.5401 4.60727 11.1226C3.88841 10.7066 3.29204 10.1083 2.87838 9.38807H2.87372ZM3.35982 4.89277C2.99003 5.53366 2.79536 6.26055 2.79536 7.00047C2.79536 7.74038 2.99003 8.46728 3.35982 9.10816C3.72759 9.74396 4.2563 10.2717 4.89277 10.6383C5.53384 11.0076 6.26066 11.2019 7.00046 11.2019C7.74027 11.2019 8.46709 11.0076 9.10816 10.6383C9.74222 10.271 10.2691 9.74409 10.6364 9.11002C11.0057 8.46896 11.2 7.74214 11.2 7.00233C11.2 6.26253 11.0057 5.53571 10.6364 4.89464C10.2699 4.25852 9.74293 3.72964 9.10816 3.36076C8.46728 2.99096 7.74038 2.79629 7.00046 2.79629C6.26055 2.79629 5.53365 2.99096 4.89277 3.36076C4.25778 3.72853 3.73071 4.25688 3.36449 4.89277H3.35982ZM3.63973 8.41213C3.44951 7.9658 3.35145 7.48564 3.35145 7.00047C3.35145 6.5153 3.44951 6.03513 3.63973 5.58881C4.00425 4.71055 4.70215 4.01265 5.58041 3.64813C6.02688 3.45848 6.50699 3.36074 6.99207 3.36074C7.47715 3.36074 7.95726 3.45848 8.40373 3.64813C9.28152 4.01303 9.979 4.71084 10.3435 5.58881C10.5337 6.03513 10.6318 6.5153 10.6318 7.00047C10.6318 7.48564 10.5337 7.9658 10.3435 8.41213C9.979 9.2901 9.28152 9.98791 8.40373 10.3528C7.95726 10.5425 7.47715 10.6402 6.99207 10.6402C6.50699 10.6402 6.02688 10.5425 5.58041 10.3528C4.70215 9.98828 4.00425 9.29039 3.63973 8.41213ZM4.8144 4.8228C4.31108 5.32632 3.99781 5.98871 3.9279 6.69721C3.858 7.40572 4.03579 8.11655 4.431 8.70872C4.82622 9.3009 5.41444 9.73781 6.09554 9.9451C6.77664 10.1524 7.50853 10.1172 8.16663 9.84562C8.82473 9.57401 9.36836 9.08273 9.705 8.4554C10.0416 7.82808 10.1505 7.10347 10.013 6.40493C9.87551 5.70639 9.5002 5.07707 8.95093 4.62411C8.40167 4.17115 7.71241 3.92253 7.00046 3.92057C6.59508 3.91403 6.19266 3.99073 5.81809 4.14591C5.44353 4.3011 5.10478 4.53148 4.8228 4.8228H4.8144Z" fill="white" /></svg>')
                center/contain no-repeat;
            }
          }
        }
      }

      .sub-menu {
        padding-left: rem(24);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(10);

        .menu-item {
          font-weight: 300;

          a {
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              content: "";
              margin-right: rem(4);
              display: inline-block;
              width: rem(45);
              height: rem(1);
              background: #fff;
            }
          }
        }
      }
    }

    .the-form {
      position: absolute;
      bottom: rem(20);
      right: rem(20);
      padding: rem(25);
      width: 100%;
      max-width: rem(584);
      color: var(--text-color);
      background: rgba(255, 255, 255, 0.55);
      backdrop-filter: blur(rem(10));
      border-radius: rem(22);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(12);

      &__img {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(5%, -30%);
        width: rem(184);
        pointer-events: none;
      }

      &__group {
        margin: rem(12) 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(20);
      }

      .text-h3 {
        color: var(--text-color);
        font-size: rem(26);
      }

      input {
        padding: 0 rem(20);
        height: rem(38);
        width: rem(220);
        background: #fff;
        border-radius: 9999px;
        box-shadow: 0 0 rem(14) 0 rgba(0, 0, 0, 0.15);

        &:last-child {
          width: rem(245);
        }

        &::placeholder {
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      .btn {
        width: rem(220);
        height: rem(40);
        font-size: rem(14);
      }
    }
  }
}

.mobile__menu {
  position: fixed;
  bottom: rem(15);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 10;

  @include media("lg") {
    display: flex;
  }
  @include media("xs") {
    width: 100%;
    max-width: calc(100% - rem(30));
  }
  @include media("350px") {
    max-width: calc(100% - rem(10));
  }

  &-tabs {
    padding: rem(6) rem(18) rem(6) rem(6);
    width: 100%;
    height: rem(48);
    background: #fff;
    border-radius: rem(15);
    box-shadow: 0 0 rem(10) 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
  }

  &-tab {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      width: rem(115);
      height: 100%;
      background: var(--primary);
      border-radius: rem(10);
      flex-direction: row;
      justify-content: center;
      gap: rem(6);

      svg {
        width: rem(23);
        height: rem(24);
      }

      span {
        margin-top: 0;
        color: #fff;
        font-size: rem(14);
        line-height: auto;
      }
    }

    svg > *,
    span {
      transition: var(--transition-ease);
    }

    svg {
      color: var(--primary);
      width: rem(15);
      height: rem(15);
    }

    span {
      margin-top: rem(2);
      color: #5c5c5c;
      font-size: rem(13);
      text-align: center;
    }

    .group {
      position: absolute;
      bottom: calc(100% + rem(10));
      padding: 0 rem(6);
      max-height: 0;
      backdrop-filter: blur(rem(6));
      box-shadow: 0 0 rem(4) 0 rgba(0, 0, 0, 0.25);
      background: rgba(255, 255, 255, 0.5);
      border-radius: rem(20);
      gap: rem(12);
      transition: var(--transition-ease);
      overflow: hidden;
      --icon-size: #{rem(32)};

      a:first-child {
        margin-top: rem(6);
      }

      a:last-child {
        margin-bottom: rem(6);
      }
    }
  }

  &-content {
    position: absolute;
    padding: rem(20) rem(20) rem(25);
    bottom: rem(60);
    width: 100%;
    min-height: rem(345);
    color: #fff;
    background: var(--primary);
    border-radius: rem(15);
    display: none;
    align-items: center;
    transition: var(--transition-ease);
    opacity: 0;
    transform: translateY(rem(20));
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(14);

      & > .menu-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(15);

        & > a {
          position: relative;
          font-size: rem(20);
          font-weight: 600;
        }
      }
    }

    .sub-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(14);

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &::before {
          content: "";
          margin-right: rem(8);
          display: inline-block;
          min-width: rem(14);
          width: rem(14);
          height: rem(14);
          background: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.556096 9.71835C0.189164 8.85905 0 7.93436 0 7C0 6.06564 0.189164 5.14095 0.556096 4.28165C1.25719 2.59651 2.59651 1.25719 4.28165 0.556098C5.14095 0.189166 6.06564 0 7 0C7.93436 0 8.85905 0.189166 9.71835 0.556098C11.4035 1.25719 12.7428 2.59651 13.4439 4.28165C13.8108 5.14095 14 6.06564 14 7C14 7.93436 13.8108 8.85905 13.4439 9.71835C12.7433 11.4038 11.4038 12.7433 9.71835 13.4439C8.85905 13.8108 7.93436 14 7 14C6.06564 14 5.14095 13.8108 4.28165 13.4439C2.59616 12.7433 1.25667 11.4038 0.556096 9.71835ZM1.06926 4.49997C0.733076 5.29075 0.559805 6.1412 0.559805 7.00047C0.559805 7.85974 0.733076 8.71018 1.06926 9.50096C1.38704 10.2704 1.8537 10.9695 2.44245 11.5581C3.0312 12.1467 3.73042 12.6132 4.49997 12.9307C5.29075 13.2669 6.14119 13.4402 7.00046 13.4402C7.85974 13.4402 8.71018 13.2669 9.50096 12.9307C10.2703 12.6129 10.9692 12.1464 11.5578 11.5578C12.1464 10.9692 12.6129 10.2703 12.9307 9.50096C13.2669 8.71018 13.4402 7.85974 13.4402 7.00047C13.4402 6.1412 13.2669 5.29075 12.9307 4.49997C12.6129 3.73068 12.1464 3.0317 11.5578 2.44313C10.9692 1.85457 10.2703 1.388 9.50096 1.07019C8.71018 0.73401 7.85974 0.560739 7.00046 0.560739C6.14119 0.560739 5.29075 0.73401 4.49997 1.07019C3.73042 1.38776 3.0312 1.85424 2.44245 2.44283C1.8537 3.03141 1.38704 3.73051 1.06926 4.49997ZM1.90898 9.94788C1.39188 9.05149 1.11967 8.03485 1.11967 7C1.11967 5.96516 1.39188 4.94852 1.90898 4.05212C2.42317 3.16057 3.16337 2.42037 4.05492 1.90618C4.95131 1.38908 5.96795 1.11687 7.0028 1.11687C8.03765 1.11687 9.05429 1.38908 9.95068 1.90618C10.8422 2.42037 11.5824 3.16057 12.0966 4.05212C12.6144 4.9483 12.8869 5.96502 12.8869 7C12.8869 8.03498 12.6144 9.0517 12.0966 9.94788C11.5823 10.8393 10.8421 11.5795 9.95068 12.0938C9.05429 12.6109 8.03765 12.8831 7.0028 12.8831C5.96795 12.8831 4.95131 12.6109 4.05492 12.0938C3.16379 11.5794 2.42395 10.8392 1.90991 9.94788H1.90898ZM2.09558 4.93103C1.81851 5.58562 1.67575 6.28919 1.67575 7C1.67575 7.71081 1.81851 8.41438 2.09558 9.06897C2.35675 9.70459 2.74143 10.2821 3.22735 10.768C3.71326 11.2539 4.29075 11.6386 4.92636 11.8998C5.58079 12.1774 6.28443 12.3206 6.99533 12.3206C7.70624 12.3206 8.40988 12.1774 9.06431 11.8998C9.69993 11.6386 10.2774 11.2539 10.7633 10.768C11.2492 10.2821 11.6339 9.70459 11.8951 9.06897C12.1722 8.41438 12.3149 7.71081 12.3149 7C12.3149 6.28919 12.1722 5.58562 11.8951 4.93103C11.6339 4.29541 11.2492 3.71792 10.7633 3.23201C10.2774 2.7461 9.69993 2.36142 9.06431 2.10025C8.40972 1.82318 7.70615 1.68041 6.99533 1.68041C6.28452 1.68041 5.58095 1.82318 4.92636 2.10025C4.29075 2.36142 3.71326 2.7461 3.22735 3.23201C2.74143 3.71792 2.35675 4.29541 2.09558 4.93103ZM2.87372 9.38807C2.34962 8.47956 2.13985 7.42353 2.27693 6.38368C2.41402 5.34384 2.8903 4.37825 3.63194 3.63661C4.37358 2.89496 5.33917 2.41868 6.37902 2.2816C7.41886 2.14452 8.47489 2.35428 9.3834 2.87838C10.1059 3.297 10.7057 3.89817 11.1226 4.62164C11.5396 5.3451 11.7591 6.16545 11.7591 7.00047C11.7591 7.83548 11.5396 8.65583 11.1226 9.3793C10.7057 10.1028 10.1059 10.7039 9.3834 11.1226C8.65678 11.5401 7.83338 11.7598 6.99533 11.7598C6.15729 11.7598 5.33389 11.5401 4.60727 11.1226C3.88841 10.7066 3.29204 10.1083 2.87838 9.38807H2.87372ZM3.35982 4.89277C2.99003 5.53366 2.79536 6.26055 2.79536 7.00047C2.79536 7.74038 2.99003 8.46728 3.35982 9.10816C3.72759 9.74396 4.2563 10.2717 4.89277 10.6383C5.53384 11.0076 6.26066 11.2019 7.00046 11.2019C7.74027 11.2019 8.46709 11.0076 9.10816 10.6383C9.74222 10.271 10.2691 9.74409 10.6364 9.11002C11.0057 8.46896 11.2 7.74214 11.2 7.00233C11.2 6.26253 11.0057 5.53571 10.6364 4.89464C10.2699 4.25852 9.74293 3.72964 9.10816 3.36076C8.46728 2.99096 7.74038 2.79629 7.00046 2.79629C6.26055 2.79629 5.53365 2.99096 4.89277 3.36076C4.25778 3.72853 3.73071 4.25688 3.36449 4.89277H3.35982ZM3.63973 8.41213C3.44951 7.9658 3.35145 7.48564 3.35145 7.00047C3.35145 6.5153 3.44951 6.03513 3.63973 5.58881C4.00425 4.71055 4.70215 4.01265 5.58041 3.64813C6.02688 3.45848 6.50699 3.36074 6.99207 3.36074C7.47715 3.36074 7.95726 3.45848 8.40373 3.64813C9.28152 4.01303 9.979 4.71084 10.3435 5.58881C10.5337 6.03513 10.6318 6.5153 10.6318 7.00047C10.6318 7.48564 10.5337 7.9658 10.3435 8.41213C9.979 9.2901 9.28152 9.98791 8.40373 10.3528C7.95726 10.5425 7.47715 10.6402 6.99207 10.6402C6.50699 10.6402 6.02688 10.5425 5.58041 10.3528C4.70215 9.98828 4.00425 9.29039 3.63973 8.41213ZM4.8144 4.8228C4.31108 5.32632 3.99781 5.98871 3.9279 6.69721C3.858 7.40572 4.03579 8.11655 4.431 8.70872C4.82622 9.3009 5.41444 9.73781 6.09554 9.9451C6.77664 10.1524 7.50853 10.1172 8.16663 9.84562C8.82473 9.57401 9.36836 9.08273 9.705 8.4554C10.0416 7.82808 10.1505 7.10347 10.013 6.40493C9.87551 5.70639 9.5002 5.07707 8.95093 4.62411C8.40167 4.17115 7.71241 3.92253 7.00046 3.92057C6.59508 3.91403 6.19266 3.99073 5.81809 4.14591C5.44353 4.3011 5.10478 4.53148 4.8228 4.8228H4.8144Z" fill="white" /></svg>')
            center/contain no-repeat;
        }
      }
    }

    #menu-content {
      padding-right: rem(10);
      max-height: calc(100vh - rem(250));
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(14);
      overflow: auto;

      &::-webkit-scrollbar {
        width: rem(10);
      }

      &::-webkit-scrollbar-track {
        background: #b18744;
        border-radius: 9999px;
      }

      &::-webkit-scrollbar-thumb {
        background: #ecb660;
        border-radius: 9999px;
      }
    }
  }

  &-close {
    position: absolute;
    top: rem(15);
    right: rem(15);
    display: none;
  }
}
