---
import { Image, Icon, H3 } from "ui";
---

<footer class="footer">
  <div class="container"></div>
</footer>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .footer {
    padding: rem(55) 0 rem(25);
    width: 100%;
    background: var(--text-color);

    @include media("xl") {
      padding-bottom: rem(120);
    }
    @include media("sm") {
      padding: rem(35) 0 rem(120);
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(20);

      @include media("lg") {
        flex-direction: column;
        gap: rem(30);
      }
    }

    &__logo {
      width: rem(115);
      height: rem(175);

      @include media("xl") {
        width: rem(100);
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
</style>
