---
import { H4, P } from "ui";

interface Props {
  title: string;
  icon?: string;
}

const { title } = Astro.props;
---

<div class="accordion">
  <div class="accordion__header">
    <div class="accordion__header-title">{title}</div>
    <div class="accordion__header-icon icon">
      <svg
        width="22"
        height="11"
        viewBox="0 0 22 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 0.5L11 10.5L1 0.500002"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>
  <div class="accordion__body">
    <div class="accordion__content">
      <P><slot /></P>
    </div>
    <slot name="footer" />
  </div>
</div>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .accordion {
    width: 100%;

    &__header {
      position: relative;
      padding: rem(18) 0;
      width: 100%;
      color: var(--primary);
      cursor: pointer;
      border-bottom: rem(1) solid var(--primary);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: rem(20);

      @include media("xs") {
        padding: rem(15) 0;
        gap: rem(15);
      }

      &-title {
        color: inherit;
        font-size: rem(20);
        transition: var(--transition-ease);

        @include media("xl") {
          font-size: rem(18);
        }
        @include media("sm") {
          font-size: rem(16);
        }
      }

      &-icon {
        color: inherit;
        transition: var(--transition-ease);
        --icon-size: #{rem(20)};

        @include media("sm") {
          --icon-size: #{rem(16)};
        }
      }

      &[data-state="opened"] {
        color: var(--primary);

        .icon {
          transform: rotate(180deg);
        }
      }
    }

    &__body {
      max-height: 0;
      transition: max-height var(--transition-bezier);
      overflow: hidden;
    }

    &__content {
      padding: rem(20) 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      ul {
        padding-left: 24px;
        list-style-type: disc;
      }

      @include media("sm") {
        padding: rem(15) 0;

        .text-p {
          font-size: rem(15);
        }
      }
    }
  }
</style>
