---
import { H2 } from "./Text";
---

<H2 class="title"><slot /></H2>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(20);

    @include media("sm") {
      gap: rem(15);
    }

    &::before {
      content: "";
      margin-bottom: rem(2);
      width: rem(32);
      height: rem(32);
      display: inline-block;
      background: url('data:image/svg+xml,<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.29764 22.8506C0.441411 20.8431 0 18.6828 0 16.5C0 14.3171 0.441411 12.1569 1.29764 10.1494C2.93361 6.21256 6.05888 3.08364 9.99111 1.44576C11.9963 0.588535 14.154 0.146606 16.3343 0.146606C18.5146 0.146606 20.6724 0.588535 22.6775 1.44576C26.6098 3.08364 29.735 6.21256 31.371 10.1494C32.2272 12.1569 32.6686 14.3171 32.6686 16.5C32.6686 18.6828 32.2272 20.8431 31.371 22.8506C29.7362 26.7882 26.6106 29.9175 22.6775 31.5542C20.6724 32.4114 18.5146 32.8534 16.3343 32.8534C14.154 32.8534 11.9963 32.4114 9.99111 31.5542C6.05808 29.9175 2.9324 26.7882 1.29764 22.8506ZM2.49508 10.6594C1.71061 12.5068 1.30629 14.4937 1.30629 16.5011C1.30629 18.5085 1.71061 20.4953 2.49508 22.3427C3.23662 24.1403 4.32557 25.7736 5.6994 27.1486C7.07322 28.5237 8.70485 29.6135 10.5006 30.3554C12.3458 31.1408 14.3303 31.5456 16.3354 31.5456C18.3405 31.5456 20.325 31.1408 22.1703 30.3554C23.9654 29.6129 25.5964 28.5229 26.9698 27.1479C28.3432 25.7729 29.432 24.14 30.1736 22.3427C30.958 20.4953 31.3624 18.5085 31.3624 16.5011C31.3624 14.4937 30.958 12.5068 30.1736 10.6594C29.432 8.86221 28.3432 7.22925 26.9698 5.85425C25.5964 4.47924 23.9654 3.38924 22.1703 2.64678C20.325 1.8614 18.3405 1.4566 16.3354 1.4566C14.3303 1.4566 12.3458 1.8614 10.5006 2.64678C8.70485 3.3887 7.07322 4.47847 5.6994 5.85353C4.32557 7.22858 3.23662 8.86182 2.49508 10.6594ZM4.45455 23.3868C3.24792 21.2927 2.61272 18.9176 2.61272 16.5C2.61272 14.0824 3.24792 11.7073 4.45455 9.61317C5.6544 7.53033 7.38164 5.80107 9.46206 4.59981C11.5538 3.39178 13.9261 2.75584 16.3409 2.75584C18.7556 2.75584 21.1279 3.39178 23.2197 4.59981C25.3001 5.80107 27.0273 7.53033 28.2272 9.61317C29.4353 11.7068 30.0713 14.0821 30.0713 16.5C30.0713 18.9179 29.4353 21.2932 28.2272 23.3868C27.0271 25.4695 25.2999 27.1987 23.2197 28.4002C21.1279 29.6082 18.7556 30.2441 16.3409 30.2441C13.9261 30.2441 11.5538 29.6082 9.46206 28.4002C7.38263 27.1984 5.65623 25.4692 4.45673 23.3868H4.45455ZM4.88998 11.6665C4.24346 13.1957 3.91031 14.8394 3.91031 16.5C3.91031 18.1606 4.24346 19.8043 4.88998 21.3335C5.49942 22.8184 6.39707 24.1676 7.53093 25.3028C8.66479 26.4379 10.0123 27.3366 11.4955 27.9468C13.0226 28.5955 14.6645 28.9299 16.3234 28.9299C17.9823 28.9299 19.6242 28.5955 21.1513 27.9468C22.6345 27.3366 23.9821 26.4379 25.1159 25.3028C26.2498 24.1676 27.1475 22.8184 27.7569 21.3335C28.4034 19.8043 28.7366 18.1606 28.7366 16.5C28.7366 14.8394 28.4034 13.1957 27.7569 11.6665C27.1475 10.1815 26.2498 8.83241 25.1159 7.69722C23.9821 6.56204 22.6345 5.66335 21.1513 5.0532C19.6239 4.40592 17.9821 4.07238 16.3234 4.07238C14.6648 4.07238 13.023 4.40592 11.4955 5.0532C10.0123 5.66335 8.66479 6.56204 7.53093 7.69722C6.39707 8.83241 5.49942 10.1815 4.88998 11.6665ZM6.70575 22.079C5.48277 19.9565 4.99328 17.4894 5.31317 15.0601C5.63305 12.6309 6.74443 10.3751 8.47504 8.64244C10.2056 6.90981 12.4588 5.79713 14.8853 5.47687C17.3117 5.15662 19.7759 5.64667 21.8959 6.87108C23.5819 7.84906 24.9814 9.2535 25.9544 10.9437C26.9273 12.6338 27.4395 14.5503 27.4395 16.5011C27.4395 18.4518 26.9273 20.3683 25.9544 22.0585C24.9814 23.7487 23.5819 25.1531 21.8959 26.1311C20.2004 27.1066 18.279 27.6199 16.3234 27.6199C14.3679 27.6199 12.4465 27.1066 10.7509 26.1311C9.07351 25.1593 7.6819 23.7615 6.71663 22.079H6.70575ZM7.84006 11.5771C6.97715 13.0743 6.5229 14.7725 6.5229 16.5011C6.5229 18.2297 6.97715 19.9278 7.84006 21.4251C8.69824 22.9104 9.93197 24.1433 11.4172 24.9998C12.9131 25.8624 14.6091 26.3165 16.3354 26.3165C18.0617 26.3165 19.7577 25.8624 21.2537 24.9998C22.7332 24.1416 23.9627 22.9107 24.8199 21.4294C25.6815 19.9318 26.135 18.2338 26.135 16.5054C26.135 14.7771 25.6815 13.0791 24.8199 11.5815C23.9645 10.0954 22.7349 8.85977 21.2537 7.998C19.7582 7.13408 18.062 6.67929 16.3354 6.67929C14.6088 6.67929 12.9126 7.13408 11.4172 7.998C9.93541 8.85718 8.70551 10.0915 7.85094 11.5771H7.84006ZM8.49321 19.799C8.04934 18.7563 7.82053 17.6345 7.82053 16.5011C7.82053 15.3676 8.04934 14.2459 8.49321 13.2032C9.34383 11.1514 10.9723 9.52095 13.0217 8.66935C14.0636 8.2263 15.1839 7.99796 16.3158 7.99796C17.4477 7.99796 18.5681 8.2263 19.6099 8.66935C21.6582 9.52183 23.2857 11.1521 24.1362 13.2032C24.5801 14.2459 24.8089 15.3676 24.8089 16.5011C24.8089 17.6345 24.5801 18.7563 24.1362 19.799C23.2857 21.8501 21.6582 23.4803 19.6099 24.3328C18.5681 24.7759 17.4477 25.0042 16.3158 25.0042C15.1839 25.0042 14.0636 24.7759 13.0217 24.3328C10.9723 23.4812 9.34383 21.8508 8.49321 19.799ZM11.2343 11.4136C10.0598 12.5899 9.32878 14.1374 9.16566 15.7926C9.00254 17.4478 9.41741 19.1085 10.3396 20.4919C11.2619 21.8753 12.6345 22.8961 14.2238 23.3803C15.8131 23.8646 17.521 23.7824 19.0566 23.1479C20.5923 22.5134 21.8608 21.3657 22.6464 19.9001C23.4319 18.4345 23.6859 16.7417 23.3651 15.1098C23.0443 13.4779 22.1685 12.0077 20.8868 10.9494C19.6051 9.89123 17.9967 9.31041 16.3354 9.30583C15.3894 9.29056 14.4504 9.46973 13.5764 9.83228C12.7023 10.1948 11.9119 10.733 11.2539 11.4136H11.2343Z" fill="%23C29B5D" /></svg>')
        center/contain no-repeat;
      pointer-events: none;

      @include media("sm") {
        margin-bottom: 0;
        width: rem(28);
        height: rem(28);
      }
    }
  }
</style>
